* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Courier New', Courier, monospace;
}

/* HEADER */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding-inline: 20%;
  height: 4rem;
  background-color: #2d4777;
  color: white;
}

header nav ol {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  list-style-type: none;
}

header a {
  color: white;
  text-decoration: none;
}

header li:hover a {
  color: rgb(165, 165, 165);
}
/* END HEADER */

section.user {
  width: 70%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-inline: auto;

  text-align: center;
}

div.grouper {
  width: 50%;
  margin-inline: auto;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

div.grouper input {
  margin-top: 0.5rem;
}

input[type="text"] {
  padding-left: 5px;
}

button {
  padding: 1.5rem;
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  transition: all 0.5s ease-in-out;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}

button:hover {
  transform: scale(1.1);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

section.boxes {
  width: 50%;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

div.box {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s linear;
}

div.box:hover {
  transform: scale(1.05);
}